}

QPushButton {
    background-color: #C4C3C8;
    color: "black";
    font-size: 25px;
    padding: 12px;

QLabel {
    background-color: #6E6E6D;
    color: "white";
    font-size; 25px;
    padding: 8px;


}
